<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>管理员界面</title>
    <link rel="stylesheet" href="css/style.default.css" type="text/css" />
    <![endif]-->
</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">欢迎，<span>管理员</span></h1>
            <span class="slogan">销售管理系统</span>

            <br clear="all" />

        </div><!--left-->

        <div class="right">
            <!--<div class="notification">
                <a class="count" href="ajax/notifications.html"><span>9</span></a>
            </div>-->

        </div><!--right-->
    </div><!--topheader-->


    <div class="header">
        <ul class="headermenu">
            <li class="current"><a href="/toadCustomer"><span class="icon icon-customer"></span>客户管理</a></li>
            <li><a href="/toadProduct"><span class="icon icon-project"></span>产品管理</a></li>
            <li><a href="/toadOrder"><span class="icon icon-order"></span>订单管理</a></li>
            <li><a href="/toadSales"><span class="icon icon-salesman"></span>员工管理</a></li>
        </ul>
    </div><!--header-->

    <div class="vernav2 iconmenu">
        <ul>
            <li><a href="/toadSelect" class="find">客户查询</a></li>
            <!--            <li><a href="/toPage?url=/ad_cuadd.html" class="add">增添客户</a></li>-->

            <!--            <form action="/add" method="post">-->
            <li class="current"><a href="/toadAdd" class="add">增添客户</a></li>
            <!--            </form>-->

            <!--            <li><a href="/toPage?url=/ad_cudel.html" class="delet">删减客户</a></li>-->
            <li><a href="/toadUpdate" class="revise">修改信息</a></li>
        </ul>
        <br /><br />
    </div><!--leftmenu-->

    <div class="centercontent" align="left">
        <div class="fromreport">
            <form action="/adadd" method="post">
                <label class="">Id:</label>
                <div><input  type="text" name="Id"><br> </div>
                <label class="">Name:</label>
                <div><input  type="text" name="UserName"><br>   </div>
                <label class="">Password:</label>
                <div><input type="text" name="PassWord"><br> </div>
                <label class="">Sex::</label>
                <div><input type="text" name="Sex"><br> </div>
                <label class="">Address:</label>
                <div><input type="text" name="Address"><br>  </div>
                <label class="">Phone:</label>
                <div><input type="text" name="Phone"><br> </div>
                <label class="">VX:</label>
                <div><input type="text" name="VX"><br></div>
                <label class="">QQ:</label>
                <div><input type="text" name="QQ"><br>  </div>
                <label class="">Email:</label>
                <div><input type="text" name="Email"><br>  </div>  <br>
                <div class="submit">
                    <input type="submit" value="提交"></div><br>
                <div class="reset">
                    <input type="reset" value="重置"> </div>
            </form>

        </div>
    </div><!-- centercontent -->


</div><!--bodywrapper-->

</body>
</html>
