<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>管理员界面</title>
    <link rel="stylesheet" href="css/style.default.css" type="text/css" />

</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">欢迎，<span>管理员</span></h1>
            <span class="slogan">后台管理系统</span>

            <br clear="all" />

        </div><!--left-->

        <div class="right">
            <!--<div class="notification">
                <a class="count" href="ajax/notifications.html"><span>9</span></a>
            </div>-->

        </div><!--right-->
    </div><!--topheader-->


    <div class="header">
        <ul class="headermenu">
            <li><a href="/toPage?url=/ad_customer.html"><span class="icon icon-customer"></span>客户管理</a></li>
            <li><a href="/toPage?url=/ad_project.html"><span class="icon icon-project"></span>产品管理</a></li>
            <li class="current"><a href="/toPage?url=/ad_order.html"><span class="icon icon-order"></span>订单管理</a></li>
            <li><a href="/toPage?url=/ad_salesman.html"><span class="icon icon-salesman"></span>员工管理</a></li>
        </ul>
    </div><!--header-->

    <div class="vernav2 iconmenu">
        <ul>
            <li><a href="/toPage?url=/ad_orfind.html" class="find">订单查询</a></li>
            <li><a href="/toPage?url=/ad_oradd.html" class="add">增添订单</a></li>
            <li class="current"><a href="/toPage?url=/ad_ordel.html" class="delet">删减订单</a></li>
            <li><a href="/toPage?url=/ad_orrev.html" class="revise">修改信息</a></li>
        </ul>
        <br /><br />
    </div><!--leftmenu-->

    <div class="centercontent">
    </div><!-- centercontent -->


</div><!--bodywrapper-->

</body>
</html>
