<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>管理员界面</title>
    <link rel="stylesheet" href="css/style.default.css" type="text/css" />
    <script type="text/javascript" src="js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="js/custom/general.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/plugins/excanvas.min.js"></script><![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="js/plugins/css3-mediaqueries.js"></script>
    <![endif]-->
</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">欢迎，<span>管理员</span></h1>
            <span class="slogan">销售管理系统</span>

            <br clear="all" />

        </div><!--left-->

        <div class="right">
            <!--<div class="notification">
                <a class="count" href="ajax/notifications.html"><span>9</span></a>
            </div>-->

        </div><!--right-->
    </div><!--topheader-->


    <div class="header">
        <ul class="headermenu">
            <li><a href="/toadCustomer"><span class="icon icon-customer"></span>客户管理</a></li>
            <li class="current"><a href="/toadProduct"><span class="icon icon-project"></span>产品管理</a></li>
            <li><a href="/toadOrder"><span class="icon icon-order"></span>订单管理</a></li>
            <li><a href="/toadSales"><span class="icon icon-salesman"></span>员工管理</a></li>
        </ul>
    </div><!--header-->

    <div class="vernav2 iconmenu">
        <ul>
            <li><a href="/toadSelectp" class="find">产品查询</a></li>
            <li><a href="/toadAddp" class="add">增添产品</a></li>
            <li class="current"><a href="/toadUpdatep" class="revise">修改信息</a></li>
        </ul>
        <br /><br />
    </div><!--leftmenu-->

    <div class="centercontent" align="left">
        <div class="fromreport">
            <form action="/adupdatep" method="post">
                <label class="">产品Id:</label>
                <div><input  type="text" name="pid"><br> </div>
                <label class="">产品名称:</label>
                <div><input  type="text" name="pName"><br>   </div>
                <label class="">产品类型:</label>
                <div><input type="text" name="pType"><br> </div>
                <label class="">产品作者:</label>
                <div><input type="text" name="pAuthor"><br> </div>
                <label class="">产品价格:</label>
                <div><input type="text" name="pPrice"><br>  </div>
                <label class="">产品数量:</label>
                <div><input type="text" name="pAmount"><br> </div>
                <br>
                <div class="submit">
                    <input type="submit" value="提交"></div><br>
                <div class="reset">
                    <input type="reset" value="重置"> </div>
            </form>

        </div>
    </div><!-- centercontent -->


</div><!--bodywrapper-->

</body>
</html>
