<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>管理员界面</title>
    <link rel="stylesheet" href="css/style.default.css" type="text/css" />
</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">欢迎，<span>管理员</span></h1>
            <span class="slogan">后台管理系统</span>

            <br clear="all" />

        </div><!--left-->

        <div class="right">
            <!--<div class="notification">
                <a class="count" href="ajax/notifications.html"><span>9</span></a>
            </div>-->

        </div><!--right-->
    </div><!--topheader-->

    <div class="header">
        <ul class="headermenu">
            <li class="current"><a href="/toadCustomer"><span class="icon icon-customer"></span>客户管理</a></li>
            <li><a href="/toadProduct"><span class="icon icon-project"></span>产品管理</a></li>
            <li><a href="/toadOrder"><span class="icon icon-order"></span>订单管理</a></li>
            <li><a href="/toadSales"><span class="icon icon-salesman"></span>员工管理</a></li>
        </ul>
    </div><!--header-->

    <div class="vernav2 iconmenu">
        <ul>
            <li><a href="/toadSelectp" class="find">产品查询</a></li>
            <li class="current"><a href="/toadAddp" class="add">增添产品</a></li>
            <li><a href="/toadUpdatep" class="revise">修改信息</a></li>
        </ul>
        <br /><br />
    </div><!--leftmenu-->

    <div class="centercontent">
    </div><!-- centercontent -->


</div><!--bodywrapper-->

</body>
</html>
