<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>管理员界面</title>
    <link rel="stylesheet" href="css/style.default.css" type="text/css" />
</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">欢迎，<span>管理员</span></h1>
            <span class="slogan">销售管理系统</span>

            <br clear="all" />

        </div><!--left-->

        <div class="right">
            <!--<div class="notification">
                <a class="count" href="ajax/notifications.html"><span>9</span></a>
            </div>-->

        </div><!--right-->
    </div><!--topheader-->


    <div class="header">
        <ul class="headermenu">
            <li><a href="/toadCustomer"><span class="icon icon-customer"></span>客户管理</a></li>
            <li><a href="/toadProduct"><span class="icon icon-project"></span>产品管理</a></li>
            <li><a href="/toadOrder"><span class="icon icon-order"></span>订单管理</a></li>
            <li class="current"><a href="/toadSales"><span class="icon icon-salesman"></span>员工管理</a></li>
        </ul>
    </div><!--header-->

    <div class="vernav2 iconmenu">
        <ul>
            <li class="current"><a href="/toadSelects" class="find">员工查询</a></li>
            <li><a href="/toadAdds" class="add">增添员工</a></li>
            <li><a href="/toadUpdates" class="revise">修改信息</a></li>
        </ul>
        <br /><br />
    </div><!--leftmenu-->

    <div class="centercontent">
        <div id="contentwrapper" class="contentwrapper">
            <div class="search">
                <form action="/adselects" method="post">
                    <input type="text" name="sid" id="sid" value="请输入要查找的员工ID" />
                    <button class="submitbutton"></button>
                </form>
            </div><!--search-->
            <br /><br />
            <div class="contenttitle2">
                <h3>您查询的员工信息：</h3>
            </div><!--contenttitle-->
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
                <colgroup>
                    <col class="con0" />
                    <col class="con1" />
                    <col class="con0" />
                </colgroup>
                <thead>
                <tr>
                    <th class="head0">ID</th>
                    <th class="head1">Name</th>
                    <th class="head0">Password</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="cs:${pages}" th:inline="none">
                    <!--/*@thymesVar id="cs" type=""*/-->
                    <td th:text="${cs.getsid()}"></td>
                    <td th:text="${cs.getsname()}"></td>
                    <td th:text="${cs.getspassword()}"></td>
                </tr>
                </tbody>
            </table>
            <div class="contenttitle2">
                <h3>员工信息</h3>
            </div><!--contenttitle-->
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
                <colgroup>
                    <col class="con0" />
                    <col class="con1" />
                    <col class="con0" />
                </colgroup>
                <thead>
                <tr>
                    <th class="head0">ID</th>
                    <th class="head1">Name</th>
                    <th class="head0">Password</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <!--/*@thymesVar id="cs" type=""*/-->
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>

        </div>


    </div><!--bodywrapper-->
</div>
</body>
</html>
