<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登录页面</title>
    <link rel="stylesheet" href="css/style.default.css" type="text/css" />
</head>

<body class="loginpage">
<div class="loginbox">
    <div class="loginboxinner">

        <div class="logo">
            <h1 class="logo">欢迎，<span>管理员</span></h1>
            <span class="slogan">销售管理系统</span>
        </div><!--logo-->

        <br clear="all" /><br />

        <div class="nousername">
            <div class="loginmsg">密码不正确.</div>
        </div><!--nousername-->

        <div class="nopassword">
            <div class="loginmsg">密码不正确.</div>
            <div class="loginf">
                <div class="thumb"><img alt="" src="images/thumbs/avatar1.png" /></div>
                <div class="userlogged">
                    <h4></h4>
                    <a href="index.html">Not <span></span>?</a>
                </div>
            </div><!--loginf-->
        </div><!--nopassword-->

        <form action="/logIn" method="post">

            <div class="username">
                <div class="usernameinner">
                    <input type="text" name="AdminUser" id="AdminUser" />
                </div>
            </div>

            <div class="password">
                <div class="passwordinner">
                    <input type="password" name="AdminPass" id="AdminPass" />
                </div>
            </div>


            <div class="submit">
                <input type="submit" id="login" value="登录">
            </div>

        </form>

    </div><!--loginboxinner-->
</div><!--loginbox-->


</body>
</html>
